Source: liblim-transport-rabbitmq-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: liblim-server-perl (>= 0.20),
 libanyevent-rabbitmq-perl (>= 1.15~dfsg-2)
Maintainer: Jerry Lundström <lundstrom.jerry@gmail.com>
Standards-Version: 3.9.1
Homepage: https://github.com/jelu/lim-rpc-transport-rabbitmq/wiki

Package: liblim-transport-rabbitmq-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 liblim-server-perl (>= 0.20),
 libanyevent-rabbitmq-perl (>= 1.15~dfsg-2)
Description: Lim RabbitMQ transport perl libraries
 Lim perl libraries for RabbitMQ transport.
